<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Day001-CustomNavigationBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>105A052E1CE963E3003082AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>105A05441CE963E4003082AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>105A054F1CE963E4003082AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
